In [63]:
import os
import pandas as pd
import pickle

In [5]:
os.chdir('/Users/tom/PycharmProjects/nyu-twipsy')

In [50]:
class PredictionTransformer:
    cols = [
        'predict_tob',
        'predict_fp',
        'predict_fp|tob',
    ]

    def __init__(self, clf_tob, clf_fp, clf_fpl):
        self.clf_tob = clf_tob
        self.clf_fp = clf_fp
        self.clf_fpl = clf_fpl

    def __call__(self, df, thres=0.5):
        self.df = df

        for col in self.cols:
            self.df[col] = 0

        self.thres = thres

        self._make_tob_predictions()
        self._make_firstperson_predictions()
        self._make_firstpersonlevel_predictions()

        return self.df

    def _make_tob_predictions(self):
        predictions_tob = self.clf_tob.predict_proba(self.df)
        self.df["predict_tob"] = predictions_tob[:,1]

    def _make_firstperson_predictions(self):
        filter_tob = self.df.predict_tob > self.thres

        # predict only on subset of the data, makes things way faster
        predict_fp = self.clf_tob.predict_proba(self.df[filter_tob])
        self.df.loc[filter_tob, "predict_fp|tob"] = predict_fp[:,1]

        # compute a marginal using the product rule
        self.df["predict_fp"] = self.df["predict_tob"] * self.df["predict_fp|tob"]

    def _make_firstpersonlevel_predictions(self):
        filter_tob = self.df.predict_tob > self.thres

        # predict only on subset of the data, makes things way faster
        predict_fpl = self.clf_fpl.predict_proba(self.df[filter_tob])

        # convert it to a named dataframe
        predict_fpl = pd.DataFrame(
            predict_fpl,
                 columns=[
                "predict_present|fp",
                "predict_not_present|fp"],
            index=self.df[filter_tob].index)

        marginal_firstperson = self.df[filter_tob]["predict_fp"]

        # for each conditional level generate a marginal
        for col in predict_fpl.columns:
            col_marginal = col.split("|")[0]
            predict_fpl[col_marginal] = predict_fpl[col] * marginal_firstperson

        self.df = self.df.join(predict_fpl).fillna(0)

In [6]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
import twokenize.twokenize as tokenizer

from pipelines.helpers import ItemGetter

def make_classifier():
    clf = Pipeline([
        ("getter", ItemGetter("text")),
        ("tfidf", TfidfVectorizer()),
        ("clf", LogisticRegression())])

    clf_params = {
        'clf__C': 200,
        'clf__dual': False,
        'clf__max_iter': 100,
        'clf__multi_class': 'ovr',
        'clf__penalty': 'l2',
        'tfidf__tokenizer':tokenizer.tokenize,
        'tfidf__ngram_range':(1, 3),
        'tfidf__max_features':200000
    }

    clf.set_params(**clf_params)
    return clf

In [7]:
clf_tob = make_classifier()
clf_fp = make_classifier()
clf_fpl = make_classifier()

In [22]:
def fit_clf(clf, X):
    X_tweets = list(X['text'])
    X_labels = list(X['labels'])
    X_pairs = []
    for p in zip(X_labels, X_tweets):
        X_pairs.append(p)
    X_all_training = pd.DataFrame([e[1] for e in X_pairs], columns=['text'])
    y_all_training = [e[0] for e in X_pairs]
    clf.fit(X_all_training, y_all_training)
    return clf

In [31]:
X_tob = pd.read_csv('/Users/tom/downloads/MERGED2_normalized_classif1.csv', names = ['labels', 'text'])
clf_tob = fit_clf(clf_tob, X_tob)

X_fp = pd.read_csv('/Users/tom/downloads/MERGED2_normalized_classif2.csv', names = ['labels', 'text'])
clf_fp = fit_clf(clf_fp, X_fp)

X_fpl = pd.read_csv('/Users/tom/downloads/MERGED2_normalized_classif3.csv', names = ['labels', 'text'])
clf_fpl = fit_clf(clf_fp, X_fp)

In [51]:
clf = PredictionTransformer(clf_tob, clf_fp, clf_fpl)

In [55]:
%%time 
test_df = pd.read_csv('/Users/tom/downloads/tweets_323.csv', engine='python')

CPU times: user 933 ms, sys: 21.3 ms, total: 955 ms
Wall time: 976 ms

In [56]:
test_df

,Unnamed: 0,text,id,created_at,lat,lon,utc_offset,place
0,66736,Reppin that wine n gold till I die,610877893003100160,Tue Jun 16 18:33:33 +0000 2015,41.640241,-81.391672,-18000.0,"Mentor, OH"
1,66737,火 http://t.co/As7Kpp8Khl,610877892680134658,Tue Jun 16 18:33:33 +0000 2015,25.702823,-100.337498,NaN,"San Nicol谩s de los Garza, Nuevo Le贸n"
2,66738,I can't stand a social media ass bitch,610877893212770304,Tue Jun 16 18:33:33 +0000 2015,29.239602,-94.880809,NaN,"Galveston, TX"
3,66739,Everyone sleeps on me tbh,610877893330214912,Tue Jun 16 18:33:33 +0000 2015,35.433034,-97.424091,-18000.0,"Midwest City, OK"
4,66740,@HannahKucharski so sorry I couldn't make it t...,610877893338603521,Tue Jun 16 18:33:33 +0000 2015,40.959260,-85.336872,NaN,"Fort Wayne, IN"
5,66741,@2lewdcrew @ChickenDig I have yet to regain th...,610877893166657536,Tue Jun 16 18:33:33 +0000 2015,30.115967,-92.158649,NaN,"Lafayette, LA"
6,66742,http://t.co/h3ErwDw4Be,610877893107912706,Tue Jun 16 18:33:33 +0000 2015,28.193916,-82.739856,-14400.0,"Elfers, FL"
7,66743,"Man meeting new people is the best , the peopl...",610877893485404161,Tue Jun 16 18:33:34 +0000 2015,35.255821,-119.172179,NaN,"Bakersfield, CA"
8,66744,@PrimaPuntaNG they connected really well basic...,610877893607038976,Tue Jun 16 18:33:34 +0000 2015,33.704538,-118.668404,-25200.0,"Los Angeles, CA"
9,66745,rachel dolezal is fucking white jesus christ,610877893531537408,Tue Jun 16 18:33:34 +0000 2015,38.801826,-77.119401,-14400.0,"Washington, DC"
10,66746,Wishing everyone a fantastic day filled with m...,610877893711933440,Tue Jun 16 18:33:34 +0000 2015,45.543542,-124.848975,-25200.0,"Washington, USA"
11,66747,"So they're letting us out of work early today,...",610877893992947712,Tue Jun 16 18:33:34 +0000 2015,29.522325,-95.823268,-14400.0,"Houston, TX"
12,66748,#StopYuLin2015 this literally breaks my heart ...,610877894227828736,Tue Jun 16 18:33:34 +0000 2015,33.704538,-118.668404,NaN,"Los Angeles, CA"
13,66749,yess @ beep https://t.co/XPfIViv2oW,610877894315913216,Tue Jun 16 18:33:34 +0000 2015,39.719801,-80.519851,-25200.0,"Pennsylvania, USA"
14,66750,"@NCStateOL24 Glad you did, thanks for particip...",610877894718570496,Tue Jun 16 18:33:34 +0000 2015,35.715804,-78.818343,-14400.0,"Raleigh, NC"
15,66751,When you love someone you just don't treat the...,610877894764699648,Tue Jun 16 18:33:34 +0000 2015,24.396308,-87.634643,-10800.0,"Florida, USA"
16,66752,@FaZeAdapt congrats on 1 mill http://t.co/OfXr...,610877892734636033,Tue Jun 16 18:33:33 +0000 2015,42.705867,-83.333387,NaN,"Orion, MI"
17,66753,ive had my car taken away for 11 hours and i a...,610877894907314176,Tue Jun 16 18:33:34 +0000 2015,33.290260,-112.323914,-25200.0,"Phoenix, AZ"
18,66754,ヰヰヰ https://t.co/wSQhQJi2vO,610877894689169411,Tue Jun 16 18:33:34 +0000 2015,41.630746,-88.185160,NaN,"Bolingbrook, IL"
19,66755,#StopYuLin2015,610877895033139202,Tue Jun 16 18:33:34 +0000 2015,41.696088,-90.418136,NaN,"Michigan, USA"
20,66756,#sinfulColors are here and you could write on ...,610877895444201473,Tue Jun 16 18:33:34 +0000 2015,26.062031,-80.441977,-14400.0,"Weston, FL"
21,66757,Paranoid/NSA!#HillaryClinton SpyOn #NYTimes Re...,610877895670673410,Tue Jun 16 18:33:34 +0000 2015,39.719801,-80.519851,-14400.0,"Pennsylvania, USA"
22,66758,@Cherelle9021 thank you for all the memories a...,610877895695835136,Tue Jun 16 18:33:34 +0000 2015,40.492136,-112.024485,-21600.0,"Riverton, UT"
23,66759,Iight man I got work to attend I'm out,610877895771353088,Tue Jun 16 18:33:34 +0000 2015,29.127565,-81.133668,-14400.0,"Daytona Beach, FL"
24,66760,@fe3dyourhead jejej wyd 2day? :),610877895947517953,Tue Jun 16 18:33:34 +0000 2015,34.027012,-118.170463,-28800.0,"Monterey Park, CA"
25,66761,That test was super easy,610877895892971520,Tue Jun 16 18:33:34 +0000 2015,40.785064,-73.081839,-14400.0,"Holtsville, NY"
26,66762,wtf http://t.co/fXeWQLRzCJ,610877895926530051,Tue Jun 16 18:33:34 +0000 2015,43.287378,-73.726867,NaN,"Glens Falls, NY"
27,66763,@MarkHalperin @realDonaldTrump Da Duh-nald ann...,610877895859437568,Tue Jun 16 18:33:34 +0000 2015,42.474131,-83.204418,-14400.0,"Royal Oak, MI"
28,66764,@itsmalindarose I thought this would make you ...,610877896387858433,Tue Jun 16 18:33:34 +0000 2015,35.917793,-115.158143,-25200.0,"Henderson, NV"
29,66765,it'll happen though! i know it,610877896320806912,Tue Jun 16 18:33:34 +0000 2015,24.396308,-87.634643,-14400.0,"Florida, USA"
...,...,...,...,...,...,...,...,...
99977,47586,Westbrook carried his team and didnt make play...,610890563034873856,Tue Jun 16 19:23:54 +0000 2015,38.562585,-121.423941,NaN,"Arden-Arcade, CA"
99978,47587,@Lil_chipmunk_ https://t.co/KXb9TPz4qe,610890563290841088,Tue Jun 16 19:23:54 +0000 2015,39.719801,-80.519851,-10800.0,"Pennsylvania, USA"
99979,47588,I tweet I puked from heat exhaustion and look ...,610890562787348480,Tue Jun 16 19:23:54 +0000 2015,42.181294,-83.308978,NaN,"Taylor, MI"
99980,47589,@RPPNoticias,610890563559288832,Tue Jun 16 19:23:54 +0000 2015,41.016898,-73.606436,NaN,"Stamford, CT"
99981,47590,This #Clerical #job might be a great fit for y...,610890562749632514,Tue Jun 16 19:23:54 +0000 2015,32.057802,-111.083219,NaN,"Tucson, AZ"
99982,47591,https://t.co/vlsbuY2hO1,610890563743784960,Tue Jun 16 19:23:54 +0000 2015,30.146096,-91.655009,-18000.0,"Mississippi, USA"
99983,47592,Join the Soliant Health team! See our latest #...,610890563475214336,Tue Jun 16 19:23:54 +0000 2015,46.982190,-123.023734,NaN,"Olympia, WA"
99984,47593,2014 family photo by: Camera Creations in LA #...,610890563726897154,Tue Jun 16 19:23:54 +0000 2015,34.222878,-118.829753,-25200.0,"Simi Valley, CA"
99985,47594,- Why Did You Treat Me Like The Girl On The Si...,610890564100300800,Tue Jun 16 19:23:54 +0000 2015,33.660452,-80.242864,-10800.0,"Manning, SC"
99986,47595,Now he's loafing on top of me http://t.co/2moN...,610890563290697730,Tue Jun 16 19:23:54 +0000 2015,40.437516,-74.189687,-14400.0,"Union Beach, NJ"
99987,47596,"El otro d铆a te v铆 en misa, estabas entre mucha...",610890564037292033,Tue Jun 16 19:23:54 +0000 2015,25.480538,-100.421037,-18000.0,"Monterrey, Nuevo Le贸n"
99988,47597,"""I need a ride or die"" ...nah, be solo. it's t...",610890564272308224,Tue Jun 16 19:23:54 +0000 2015,35.618450,-78.509067,-18000.0,"Clayton, NC"
99989,47598,"""There's never been a better time to be here"" ...",610890563789787136,Tue Jun 16 19:23:54 +0000 2015,47.618212,-122.200435,-25200.0,Hyatt Regency Bellevue on Seattle's Eastside
99990,47599,One of ur children graduated same yr as me bro...,610890564444123136,Tue Jun 16 19:23:55 +0000 2015,35.290722,-97.768683,-14400.0,"Oklahoma City, OK"
99991,47600,I need new music so bad,610890564381343744,Tue Jun 16 19:23:55 +0000 2015,41.566483,-88.293691,-25200.0,"Plainfield, IL"
99992,47601,@dodomesticdad Q3 He taught me how to drive st...,610890564301512704,Tue Jun 16 19:23:54 +0000 2015,30.365093,-84.386548,-14400.0,"Tallahassee, FL"
99993,47602,I just want the end of the week to come! Paych...,610890564393811969,Tue Jun 16 19:23:55 +0000 2015,42.549459,-71.417868,-10800.0,"Chelmsford, MA"
99994,47603,@pdabarber..... Google him @ Head start Barber...,610890564406394881,Tue Jun 16 19:23:55 +0000 2015,29.598122,-95.597893,-25200.0,"Stafford, TX"
99995,47604,If your too busy focusing on everyone else how...,610890564632842241,Tue Jun 16 19:23:55 +0000 2015,41.991795,-124.703541,-25200.0,"Oregon, USA"
99996,47605,WHAT https://t.co/RVn0G5ASNx,610890564582551552,Tue Jun 16 19:23:55 +0000 2015,36.993110,-102.051769,NaN,"Kansas, USA"
99997,47606,@BeeDay_ you gotta watch it from the beginning!,610890564788056064,Tue Jun 16 19:23:55 +0000 2015,38.660344,-90.184544,-18000.0,"Venice, IL"
99998,47607,"Me, in my .@BadassTeachersA logo shirt at the ...",610890564549001217,Tue Jun 16 19:23:55 +0000 2015,38.293241,-81.707175,-18000.0,"Charleston, WV"
99999,47608,"@MalcomsonBen Agree! DOJ, I trust them about a...",610890565282955264,Tue Jun 16 19:23:55 +0000 2015,40.072763,-88.238573,-18000.0,"Urbana, IL"
100000,47609,in a pool somewhere @ cc's pool https://t.co/i...,610890565794856960,Tue Jun 16 19:23:55 +0000 2015,33.752879,-84.321870,NaN,"North Carolina, USA"
100001,47610,i think ive become desensitized to horror films,610890565815644162,Tue Jun 16 19:23:55 +0000 2015,29.522325,-95.823268,-10800.0,"Houston, TX"
100002,47611,@_Colomborican_ @OITNBHumor this is worse I'm ...,610890564792287234,Tue Jun 16 19:23:55 +0000 2015,40.887088,-74.133676,-10800.0,"Elmwood Park, NJ"
100003,47612,@sonic_hedgehog @BluParadox @dmc2apologist did...,610890566021156865,Tue Jun 16 19:23:55 +0000 2015,30.355644,-85.605166,NaN,"Georgia, USA"
100004,47613,Suchhhh a kiss ass,610890566088273920,Tue Jun 16 19:23:55 +0000 2015,34.105490,-117.890263,-25200.0,"Glendora, CA"
100005,47614,i love my friends :-),610890566100889601,Tue Jun 16 19:23:55 +0000 2015,38.451038,-75.788758,-10800.0,"Delaware, USA"
100006,47615,I haven't heard from Ray in days.,610890566604197890,Tue Jun 16 19:23:55 +0000 2015,41.482742,-81.603358,NaN,"Cleveland Heights, OH"

In [57]:
%%time
test_prob = clf(test_df)

CPU times: user 20.3 s, sys: 89.7 ms, total: 20.4 s
Wall time: 20.5 s

In [61]:
test_prob.to_csv('/Users/tom/documents/323_predict.csv')

In [64]:
pickle.dump(clf_tob, open("/Users/tom/documents/clf-tob/tob.p", "wb"))
pickle.dump(clf_fp, open("/Users/tom/documents/clf-tob/tob_fp.p", "wb"))
pickle.dump(clf_fpl, open("/Users/tom/documents/clf-tob/tob_fpl.p", "wb"))